rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // サポートアカウントかを判定する関数
    function isSupport() {
      return request.auth != null &&
             request.auth.uid in firestore.get(/databases/(default)/documents/configs/global).data.support_user_ids
    }

    // コミュニティ管理者かを判定する関数
    function isCommunityManager(communityId) {
      return request.auth != null &&
             firestore.exists(/databases/(default)/documents/communities/$(communityId)/members/$(request.auth.uid)) &&
             "manager" in firestore.get(/databases/(default)/documents/communities/$(communityId)/members/$(request.auth.uid)).data.roles
    }

    // users - ユーザー自身が作成、編集、削除できる、誰でも閲覧できる
    match /users/{userId}/{allPaths=**} {
      allow read: if true
      allow write: if request.auth != null && request.auth.uid == userId
    }

    // communities - コミュニティ管理者またはサポートアカウントが作成、編集、削除できる、誰でも閲覧できる
    match /communities/{communityId}/{allPaths=**} {
      allow read: if true
      allow write: if isSupport() || isCommunityManager(communityId)
    }

    // partners - 店舗管理者が作成、編集、削除できる、誰でも閲覧できる
    match /partners/{partnerId}/{allPaths=**} {
      allow read: if true
      allow write: if request.auth != null && request.auth.uid == partnerId
    }

    // assets - 誰でも閲覧できる
    match /assets/{allPaths=**} {
      allow read: if true
      // 書き込み権限は指定されていないため、デフォルトで拒否
      allow write: if false
    }
  }
}
