// @layouts/components/HorizontalNavLayout.vue の component css で z-index が 1 にベタ書きされている
// 外部から上書きするには !important を使うしかない
.layout-wrapper.layout-nav-type-horizontal .layout-navbar-and-nav-container {
  z-index: 1001 !important;
}

// 横並びナビの項目を行内で中央寄せ（materio core は変更しない）
.layout-wrapper.layout-nav-type-horizontal .layout-horizontal-nav .horizontal-nav-content-container {
  display: flex;
  justify-content: center;
}

// Vuetify のバグらしく、Safari で .v-btn__prepend, .v-btn__append が width: 300px になってしまう
// これを抑制するために暫定的に以下を指定する
// TODO Vuetify のバージョンを上げたら不要になるかもしれないので確認する
.v-btn__prepend {
  width: 16px;
}
.v-btn__append {
  width: 16px;
}
